
.dashboard-select{
    background: #2744e9;
    height: 100vh;
    width: 20vw;
    padding: 0px;
    margin: -22px -8px;
    position: static;
    color: aliceblue;
    font-family:Arial, Helvetica, sans-serif; 
}
ul{
    list-style-type: none;
    position: relative;
}
a{
    
    text-decoration: none;
    color: whitesmoke;
}
h1{
    padding: 2vh 2vw;
}
#menu-link{

}
.material-symbols-outlined{
    margin-bottom: -9px;
}
.main{
    width: 80vw;
    height: 100vw;
    /*display: block;*/
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 100;
}
#search-bar{
    width: 50vw;
}
.big-text{
    font-size: 50px;
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 0;
}
.user-tag{
    padding-left: 5vw;
    font-size: 1.5em;
}
#head-btn{
    padding: 8px;
    margin-right:1vw;
    border: 0px;
    border-radius: 5px;
    background-color: #2744e9;
    color: white;
    font-family:Arial;
}
.btns1{
    width:18vw;
    position: fixed;
    top: 62px;
    right: 50px;
    z-index: 101;
}
.top-bar{
    box-shadow: 4px 2px 4px gray;
}
.main{
    box-shadow: -1px 0px 4px black;
    font-family:Arial, Helvetica, sans-serif ;
}